<div
  id="menu"
  class="bg-gray-900 min-h-screen z-10 text-slate-300 w-64 left-0 h-full"
>
  <div>
    <a
      class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          stroke-width="1.5"
          fill ="white"
          class="w-6 h-6 text-white"
        >
          <path
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"
          />
        </svg>
      </div>
      <div class="flex flex-col">
        <span class="text-lg text-slate-300 font-bold leading-5">Perfil</span>
        <span class="text-sm text-slate-500 hidden md:block">User Profile</span>
      </div>
    </a>
  </div>

  <div id="nav" class="w-full px-6">
    @for (item of menuItems; track $index) {
    <a
      [routerLink]="item.path"
      routerLinkActive="bg-blue-800 rounded-md"
      class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"
          />
        </svg>
      </div>

      <div class="flex flex-col">
        <span class="text-lg font-bold leading-5 text-white">{{
          item.title
        }}</span>
        <span class="text-sm text-white/50 hidden md:block">{{
          item.path
        }}</span>
      </div>
    </a>
    }
  </div>
</div>
