<div
  class="credit-card bg-gradient-to-r from-gray-800 to-gray-900 p-6 text-white w-auto max-w-md shadow-2xl rounded-2xl bg-clip-border"
>
  <div class="card-chip w-10 h-10 bg-yellow-400 rounded-lg mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="">
      <path
        d="M176 24c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40c-35.3 0-64 28.7-64 64l-40 0c-13.3 0-24 10.7-24 24s10.7 24 24 24l40 0 0 56-40 0c-13.3 0-24 10.7-24 24s10.7 24 24 24l40 0 0 56-40 0c-13.3 0-24 10.7-24 24s10.7 24 24 24l40 0c0 35.3 28.7 64 64 64l0 40c0 13.3 10.7 24 24 24s24-10.7 24-24l0-40 56 0 0 40c0 13.3 10.7 24 24 24s24-10.7 24-24l0-40 56 0 0 40c0 13.3 10.7 24 24 24s24-10.7 24-24l0-40c35.3 0 64-28.7 64-64l40 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-40 0 0-56 40 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-40 0 0-56 40 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-40 0c0-35.3-28.7-64-64-64l0-40c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40-56 0 0-40c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40-56 0 0-40zM160 128l192 0c17.7 0 32 14.3 32 32l0 192c0 17.7-14.3 32-32 32l-192 0c-17.7 0-32-14.3-32-32l0-192c0-17.7 14.3-32 32-32zm192 32l-192 0 0 192 192 0 0-192z"
      />
    </svg>
  </div>
  <div class="card-details">
    <div class="flex justify-between mb-6">
      <span class="card-title text-lg font-semibold">Credit Card</span>
      <span class="bank-name text-lg font-semibold">Bank Name</span>
    </div>
    <div class="card-number grid grid-cols-4 gap-2 text-2xl font-mono mb-6">
      <span>1234</span>
      <span>5678</span>
      <span>9012</span>
      <span>3456</span>
    </div>
    <div class="card-info flex justify-between items-center">
      <div class="card-valid">
        <span class="valid-thru-text text-xs uppercase">Valid Thru</span>
        <span class="valid-thru-date text-lg font-mono">01/80</span>
      </div>
      <div class="card-owner text-lg font-semibold">Name Surname</div>
    </div>
  </div>
</div>

<!-- <div class="w-full max-w-full px-3 mb-4">
  <div
    class="relative flex flex-col min-w-0 break-words bg-transparent border-0 border-transparent border-solid shadow-xl rounded-2xl bg-clip-border"
  >
    <div class="relative overflow-hidden rounded-2xl">
      <div class="w-8 h-8 m-3 text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
          <path
            d="M54.2 202.9C123.2 136.7 216.8 96 320 96s196.8 40.7 265.8 106.9c12.8 12.2 33 11.8 45.2-.9s11.8-33-.9-45.2C549.7 79.5 440.4 32 320 32S90.3 79.5 9.8 156.7C-2.9 169-3.3 189.2 8.9 202s32.5 13.2 45.2 .9zM320 256c56.8 0 108.6 21.1 148.2 56c13.3 11.7 33.5 10.4 45.2-2.8s10.4-33.5-2.8-45.2C459.8 219.2 393 192 320 192s-139.8 27.2-190.5 72c-13.3 11.7-14.5 31.9-2.8 45.2s31.9 14.5 45.2 2.8c39.5-34.9 91.3-56 148.2-56zm64 160a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"
          />
        </svg>
      </div>
      <span
        class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-gradient-to-tl from-gray-900 to-slate-800 opacity-80"
      ></span>
      <div class="relative z-10 flex-auto p-4">
        <i class="p-2 text-white fas fa-wifi" aria-hidden="true"></i>
        <h5 class="pb-2 mt-6 mb-12 text-white">
          4562&nbsp;&nbsp;&nbsp;1122&nbsp;&nbsp;&nbsp;4594&nbsp;&nbsp;&nbsp;7852
        </h5>
        <div class="flex">
          <div class="flex">
            <div class="mr-6">
              <p class="mb-0 leading-normal text-white text-sm opacity-80">
                Card Holder
              </p>
              <h6 class="mb-0 text-white">Jack Peterson</h6>
            </div>
            <div>
              <p class="mb-0 leading-normal text-white text-sm opacity-80">
                Expires
              </p>
              <h6 class="mb-0 text-white">11/22</h6>
            </div>
          </div>
          <div class="flex items-end justify-end w-1/5 ml-auto">
            <img
              class="w-3/5 mt-2"
              src="../assets/img/logos/mastercard.png"
              alt="logo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
